<!DOCTYPE html>
<html>

<head>
  <title>404</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    < {{>header}} From hbs file: {{title}}</h1>
      <p>{{message}}</p>
      /div>
      {{>footer}}
</body>

</html>