<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="container">{{>header}}
    <img class="img-portrait" src="images/malicious.jpeg">
    </div>
  {{>footer}}
</body>

</html>